@import "/styles/mixins.scss";

.spinner {
	color: var(--gray-400);
	animation-name: spin;
	animation-duration: 750ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	@include dark {
		color: var(--gray-200);
	}
}

@keyframes spin {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}
