$foreground: hsl(0, 0%, 10%);
$background-start: hsl(200, 12%, 90%);
$background-end: hsl(205, 8%, 100%);
// mono
$gray-200: hsl(200, 8%, 84%);
$gray-400: hsl(200, 8%, 56%);
// shadows
$shadow: hsl(200, 8%, 10%);

// dark mode
$foreground-dark: hsla(200, 23%, 97%, 0.9);
$background-start-dark: hsl(200, 8%, 10%);
$background-end-dark: hsl(200, 4%, 8%);
// mono
$gray-200-dark: hsl(200, 8%, 28%);
$gray-400-dark: hsl(200, 8%, 56%);
// shadows
$shadow-dark: hsl(200, 12%, 30%);
