$foreground: hsl(0, 0%, 10%);
$background-start: hsl(200, 12%, 90%);
$background-end: hsl(205, 8%, 100%);

// dark mode
$foreground-dark: hsl(200, 23%, 97%);
$background-start-dark: hsl(200, 4%, 10%);
$background-end-dark: hsl(200, 8%, 8%);
