@use "./icons.css" as *;
@use "./mixins.scss" as *;
@use "./colors/palette.scss" as *;

:root {
	@import "./colors/light.scss";

	--foreground: #{$foreground};
	--background: #{$background};
	// black
	--gray-50: #{$gray-50};
	--gray-100: #{$gray-100};
	--gray-200: #{$gray-200};
	--gray-300: #{$gray-300};
	--gray-400: #{$gray-400};
	--gray-500: #{$gray-500};
	--gray-600: #{$gray-600};
	--gray-700: #{$gray-700};
	--gray-800: #{$gray-800};
	--gray-900: #{$gray-900};
	--gray-950: #{$gray-950};
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
div#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: var(--font-body);
}

body {
	color: var(--foreground);
	background: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
}

/** COMPONENTS */
.icon-button {
	font-size: 1.25rem;
	padding: 0.75rem;
	line-height: 1em;
	border-style: none;
	border-radius: 50%;
	appearance: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: transparent;
	transition: background 125ms ease-out;

	.msr {
		font-size: inherit;
	}

	&:hover {
		background: rgba(var(--gray-200), 0.48);

		@include dark {
			background: rgba(var(--gray-400), 0.48);
		}

		&:disabled {
			background: transparent;
		}
	}
}

@include dark {
	@import "./colors/dark.scss";

	:root {
		--foreground: #{$foreground};
		--background: #{$background};
		// black
		--gray-50: #{$gray-50};
		--gray-100: #{$gray-100};
		--gray-200: #{$gray-200};
		--gray-300: #{$gray-300};
		--gray-400: #{$gray-400};
		--gray-500: #{$gray-500};
		--gray-600: #{$gray-600};
		--gray-700: #{$gray-700};
		--gray-800: #{$gray-800};
		--gray-900: #{$gray-900};
		--gray-950: #{$gray-950};
	}

	html {
		color-scheme: dark;
	}
}
