@import "./icons.css";
@import "./colors.scss";
@import "./mixins.scss";

:root {
	--foreground: #{$foreground};
	--background-start: #{$background-start};
	--background-end: #{$background-end};
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
	font-family: var(--font-sans);
}

body,
div#__next {
	color: var(--foreground);
	background: linear-gradient(to bottom, transparent, var(--background-end))
		var(--background-start);
}

div#__next {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
	max-width: 1024px;
}

a {
	color: inherit;
	text-decoration: none;
}

@include dark {
	:root {
		--foreground: #{$foreground-dark};
		--background-start: #{$background-start-dark};
		--background-end: #{$background-end-dark};
	}

	html {
		color-scheme: dark;
	}
}
